<h2> View all shirts. </h2>

<table id='shirts-table' class='table table-condensed'>
  <% @shirts.each do |shirt| %>
    <tr>
      <td> 
        <h4 class='text-uppercase'> <%= link_to shirt.name, shirt_path(id: shirt.id) %> </h4>
      </td>
      <td> <%= link_to 'Edit', edit_shirt_path(shirt), 
class: 'btn btn-primary' %> </td>
      <td> <%= link_to 'Delete', shirt, method: :delete, 
class: 'btn btn-danger' %> </td>
    </tr>
  <% end %>


  <% if @shirts.empty? %>
    <tr>
      <em> No shirt patterns have been added yet. </em>
    </tr>
  <% end %>

    <tr>
      <td> </td>
      <td> <em> Add a new shirt <%= link_to 'here', new_shirt_path %>. </em> </td>
      <td> </td>
    </tr>
</table>

<%= link_to 'Sign Out', current_user, method: :delete, class: 'btn btn-danger' %>