<h2> Add a new shirt. </h2>

<%= simple_form_for @shirt do |f| %>
  <%= f.input :name, input_html: { maxlength: 20 } %>
  <%= f.input :length %>
  <%= f.input :chest %>
  <%= f.input :sleeve %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>