<%= simple_form_for @shirt, url: compare_shirt_path(compare_id: params[:compare_id]), html: { class: 'form-signin' } do |f| %>
  <h2 class='form-signin-heading'>Add your shirt measurements</h2>
  <%= f.input_field :name, placeholder: 'Name', class: 'form-control' %>
  <%= f.input_field :length, placeholder: 'Length', class: 'form-control' %>
  <%= f.input_field :chest, placeholder: 'Chest', class: 'form-control' %>
  <%= f.input_field :sleeve, placeholder: 'Sleeve', class: 'form-control last-form-input' %>
  <%= f.button :submit, 'Get Comparision', class: 'btn btn-large btn-primary btn-block' %>
  </br>
  <%= link_to 'Cancel', shirts_path %>
<% end %>
