<h2> View your shirt's measurements. </h2>

<table class="table">
  <tr>
    <td>
    Name: <%= @shirt.name %>
    </td>
  </tr>

  <tr>
    <td>
      Length: <%= @shirt.length %>
    </td>
  </tr>

  <tr>
    <td>
      Chest: <%= @shirt.chest %>
    </td>
  </tr>

  <tr>
    <td>
      Sleeve: <%= @shirt.sleeve %>
    </td>
  </tr>

  <tr>
    <td> <%= link_to "Edit", edit_shirt_path(@shirt), 
class: 'btn btn-primary' %>
         <%= link_to "Delete", @shirt, method: :delete, 
class: 'btn btn-danger' %> </td>
  </tr>

</table>

